Data source is from: https://www.isosugar.org/prices.php?pricerange=2023-07-01

In [1]:
import pandas as pd
from statistics import mean

In [2]:
feb_dir = r'./Data/feb2023.csv'
mar_dir = r'./Data/mar2023.csv'
apr_dir = r'./Data/apr2023.csv'
may_dir = r'./Data/may2023.csv'
jun_dir = r'./Data/jun2023.csv'
jul_dir = r'./Data/july2023.csv'

In [3]:
feb_df = pd.read_csv(feb_dir)
mar_df = pd.read_csv(mar_dir)
apr_df = pd.read_csv(apr_dir)
may_df = pd.read_csv(may_dir)
jun_df = pd.read_csv(jun_dir)
jul_df = pd.read_csv(jul_dir)

In [4]:
feb_mar_df = pd.concat([feb_df, mar_df], ignore_index=True)

In [5]:
def split(df, x):
    split_row = df.loc[x, 'ISA Daily Price *'].split()
    value = split_row[0]
    unit = split_row[1]
    extra = split_row[2] if len(split_row) > 2 else None
    return value, unit, extra

In [6]:
value_lst = []
unit_lst = []
extra_lst = []

for i in range(len(feb_mar_df)):
    value, unit, extra = split(df=feb_mar_df, x=i)
    value_lst.append(value)
    unit_lst.append(unit)
    extra_lst.append(extra)

feb_mar_df['value'] = value_lst
feb_mar_df['unit'] = unit_lst
feb_mar_df['extra'] = extra_lst
feb_mar_df.head()

,Date,ISA Daily Price *,15 Day Average,Price Index **,cts/lb Index **,value,unit,extra
0,28 Feb 2023,20.58 cts/lb,20.27 cts/lb,556.20 $/T,25.23 cts/lb,20.58,cts/lb,None
1,27 Feb 2023,20.70 cts/lb,20.22 cts/lb,563.40 $/T,25.56 cts/lb,20.70,cts/lb,None
2,24 Feb 2023,20.06 cts/lb,20.15 cts/lb,554.70 $/T,25.16 cts/lb,20.06,cts/lb,None
3,23 Feb 2023,20.58 cts/lb,20.16 cts/lb,566.70 $/T,25.71 cts/lb,20.58,cts/lb,None
4,22 Feb 2023,20.21 cts/lb,20.16 cts/lb,559.05 $/T,25.36 cts/lb,20.21,cts/lb,None

In [7]:
feb_mar_df.columns

Index(['Date', 'ISA Daily Price *', '15 Day Average', 'Price Index **',
       'cts/lb Index **', 'value', 'unit', 'extra'],
      dtype='object')

In [8]:
# Compute for Q1 Sugar Price 2023
feb_mar_df['value'] = pd.to_numeric(feb_mar_df['value'], errors='coerce')
mean_value_q1 = feb_mar_df['value'].mean()
mean_value_q1 = round(mean_value_q1, 2)
print(f"Mean value Q1: {mean_value_q1}")

Mean value Q1: 20.38

In [9]:
apr_may_jun_df = pd.concat([apr_df, may_df, jun_df], ignore_index=True)

value_lst = []
unit_lst = []
extra_lst = []

for i in range(len(apr_may_jun_df)):
    value, unit, extra = split(df=apr_may_jun_df, x=i)
    value_lst.append(value)
    unit_lst.append(unit)
    extra_lst.append(extra)

apr_may_jun_df['value'] = value_lst
apr_may_jun_df['unit'] = unit_lst
apr_may_jun_df['extra'] = extra_lst
apr_may_jun_df.head()

,Date,ISA Daily Price *,15 Day Average,Price Index **,cts/lb Index **,value,unit,extra
0,28 Apr 2023,26.45 cts/lb,24.59 cts/lb,706.65 $/T,32.05 cts/lb,26.45,cts/lb,None
1,27 Apr 2023,26.45 cts/lb,24.37 cts/lb,713.35 $/T,32.36 cts/lb,26.45,cts/lb,None
2,26 Apr 2023,25.90 cts/lb,24.11 cts/lb,690.15 $/T,31.30 cts/lb,25.90,cts/lb,None
3,25 Apr 2023,26.06 cts/lb,23.86 cts/lb,698.80 $/T,31.70 cts/lb,26.06,cts/lb,None
4,24 Apr 2023,25.39 cts/lb,23.59 cts/lb,684.10 $/T,31.03 cts/lb,25.39,cts/lb,None

In [10]:
# Compute for Q2 Sugar Price 2023
apr_may_jun_df['value'] = pd.to_numeric(apr_may_jun_df['value'], errors='coerce')
mean_value_q2= apr_may_jun_df['value'].mean()
mean_value_q2 = round(mean_value_q2, 2)
print(f"Mean value Q2: {mean_value_q2}")

Mean value Q2: 24.74

In [11]:
# Summary
print(f"Mean value Q1: {mean_value_q1}")
print(f"Mean value Q2: {mean_value_q2}")

Mean value Q1: 20.38
Mean value Q2: 24.74